
body *{
  margin: 0;
  box-sizing: border-box;
  font-size: 1rem;
}
.App{
  // background-color: aqua;
  // height: 100vh;
  // background-repeat: no-repeat;

  // background-image: './media/sean-stratton-ObpCE_X3j6U-unsplash.jpg';
}