.dashboard{
      background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin-top: 11vh;
  min-height: 100%;

    .body{
        display: flex;
        height: calc(100vh - 46px);
    }
}