.delete{

    background-color: white;
    min-width: 69%;
    margin: 0 auto 0 auto;
    // scroll-behavior: smooth;
        background-position: center;
  background-size: cover;
  background-attachment: fixed;
//   margin-top: 11vh;
  min-height: 100vh;
    // height: 80vh;
    .heading{
        margin-top: 2%;
        margin-left: 8%;
    }

}