.nav-bar{
    display: flex;
    padding: 10px;
    background-color: rgb(194, 250, 194);
    z-index: 1000;
    color: #333;
    // background-color: red;
    height: 11vh;
    align-items: center;
    // justify-content: center;

    position: fixed;
    display: flex;
    flex-direction: row;
    top: 0;
    left: 0;
    // min-width: 1000px;
    width: 100vw;
    .heading{
        // background-color: #333;
        // align-self: flex-start;
        margin-left: 1%;
        font-size: 1.2rem;
    cursor: pointer;

    }
    .heading-adding{

        position: absolute;
        padding: 0.7%;
        border-radius: 5px;
        background-color: white;
        cursor: pointer;
        right: 4%;
                    border: 1px solid lightgray;

        //   margin-left: 1%;
        font-size: 1.2rem;
    }

   
}