.state{
      .input-main{

                width: 200px;
                margin: 20px 0px 0 0;
        margin-left: 8%;

                // background-color: aqua;
                .input{
                    border: 1px solid lightgray;
                    border-radius: 5px;
            }
            input{
                  margin-top: 2px;
                height: 30px;
             
            }
           
                .err-msg{
                    padding: 10px 0px;

                    color: red;
                }


        }
        .showing-address{
            // background-color: red;
            width: fit-content;
            margin:3% 0 0 8% ;
            padding: 1.5% 5%;
                    border-radius: 5px;

                    border: 1px solid lightgray;
                    display: flex;
                    flex-direction: column;
            .row{
                  margin:0% 0 0 0% ;
            // padding: 1.5% 5%;
                background-color: rgb(249, 253, 253);
                p{
                    
                }
            }

        }
}